<div class="register-container">

  <mat-card class="register-card">

    <!-- HEADER -->
    <div class="register-header">

    <div class="logo-circle">
      <img
        src="https://media.licdn.com/dms/image/v2/D4D0BAQGibhoMeCL-mg/company-logo_200_200/company-logo_200_200/0/1667320508791/e_sueldos_logo?e=2147483647&v=beta&t=6BpHD4ZVbBNymqB5aEkJNEXyJ-0qGr2At_F6mEePRAw"
        alt="e-Sueldos Logo"
        class="logo-img"
      />
    </div>

      <h1 class="register-title">Crear Cuenta</h1>

      <p class="register-subtitle">
        Completa tus datos para registrarte
      </p>

    </div>

    <!-- FORM -->
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      class="register-form"
    >

      <!-- NOMBRE -->
      <div class="input-wrapper">
        <label class="input-label">Nombre Completo</label>

        <div class="input-container">
          <mat-icon class="input-icon">person</mat-icon>

          <input
            class="custom-input"
            type="text"
            formControlName="name"
            placeholder="Ej. Juan Pérez"
          />
        </div>

        <div class="input-error"
          *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.hasError('required')">
          El nombre es obligatorio
        </div>

        <div class="input-error"
          *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.hasError('minlength')">
          Mínimo 3 caracteres
        </div>
      </div>

      <!-- EMAIL -->
      <div class="input-wrapper">
        <label class="input-label">Correo Electrónico</label>

        <div class="input-container">
          <mat-icon class="input-icon">email</mat-icon>

          <input
            class="custom-input"
            type="email"
            formControlName="email"
            placeholder="ejemplo@correo.com"
          />
        </div>

        <div class="input-error"
          *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.hasError('required')">
          El correo es obligatorio
        </div>

        <div class="input-error"
          *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.hasError('email')">
          Correo inválido
        </div>
      </div>

      <!-- PASSWORD -->
      <div class="input-wrapper">
        <label class="input-label">Contraseña</label>

        <div class="input-container">
          <mat-icon class="input-icon">lock</mat-icon>

          <input
            class="custom-input"
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
            placeholder="********"
          />

          <button
            mat-icon-button
            type="button"
            (click)="hidePassword = !hidePassword"
            class="toggle-btn"
          >
            <mat-icon>
              {{ hidePassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </button>
        </div>

        <div class="input-error"
          *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.hasError('required')">
          Contraseña obligatoria
        </div>

        <div class="input-error"
          *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.hasError('minlength')">
          Mínimo 6 caracteres
        </div>
      </div>

      <!-- CONFIRM PASSWORD -->
      <div class="input-wrapper">
        <label class="input-label">Confirmar Contraseña</label>

        <div class="input-container">
          <mat-icon class="input-icon">lock_outline</mat-icon>

          <input
            class="custom-input"
            [type]="hideConfirmPassword ? 'password' : 'text'"
            formControlName="confirmPassword"
            placeholder="********"
          />

          <button
            mat-icon-button
            type="button"
            (click)="hideConfirmPassword = !hideConfirmPassword"
            class="toggle-btn"
          >
            <mat-icon>
              {{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </button>
        </div>

        <div class="input-error"
          *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.hasError('required')">
          Debes confirmar tu contraseña
        </div>

        <div class="input-error"
          *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.hasError('passwordMismatch')">
          Las contraseñas no coinciden
        </div>
      </div>

      <!-- BOTÓN -->
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="submit-button"
        [disabled]="registerForm.invalid || isLoading"
      >
        <span *ngIf="!isLoading">Registrarse</span>
        <mat-spinner *ngIf="isLoading" diameter="26"></mat-spinner>
      </button>

    </form>

    <!-- FOOTER -->
    <div class="register-footer">
      <p>
        ¿Ya tienes cuenta?
        <a routerLink="/auth/login">Iniciar sesión</a>
      </p>
    </div>

  </mat-card>

</div>
